## Investigating spark with PySpark

Implement a simple mapping-and-reducing problem, code provided as appenidx, tutotrial write up in Portfolio Section 10.

References:
* PySpark tutorial found on youtube to familiarise and perform simple operations.

Often used for large scale data processing and machine learning. Using Apache spark runs workloads 100x faster.

In [1]:
## Installation of pyspark in google colab found at:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
44 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

Need to create a spark session

In [3]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
spark

# Trying to implement a simple mapping and reducing problem (similar to that in the workshop)

### Mapping with Pyspark

**Note** to perform mapping in pySpark, could use a UDF (user defined function ) that works element-wise on a single column, or Row-wise RDD (Resilient distributed dataset) operations, that allows adding functions across multiple columns in a dataframe.

 To truly utilise the powers of Pyspark, I will be using a RDD (showing quicker mapping functions)!!!

In [5]:
#create a spark session
from pyspark import SparkContext
#sc = SparkContext("local", "Mapping")
data = [1,2,3,4]
rdd = spark.sparkContext.parallelize(data)
#simple mapping of element to their square
# a.map(lambda x: x+1)
#a : dataframe
# map : map transformation to be applied
# lambda: the funcion to be applied
#rdd = sc.parallelize([1,2,3,4])
squared_rdd = rdd.map(lambda x: x**2)
squared_rdd.collect()

[1, 4, 9, 16]

The code above utilised the 'map' function, that is a transformation in PySPark that is applied over each and every function/instance of an RDD/DataFrame in the spark. It returns a new RDD r dataframe where the MAp function is applied.

The transformation iterates over elements and applies the logic to each element  returning a new RDD/DataFrame

First you need to create a Pyspark RDD: this can be done with a = sc.parallelize

To get our results call b.collect() where b is what our new RDD is after mapping has been applied `b = a.map(lambda x: x +1)'

In [6]:
# combining elementwise
rdd1 = spark.sparkContext.parallelize(['A', 'B', 'C'])
rdd2 = spark.sparkContext.parallelize([1,2,3])
combined_rdd = rdd1.zip(rdd2).map(lambda x: (x[0], x[1]))
combined_rdd.collect()

[('A', 1), ('B', 2), ('C', 3)]

### Reducing with Pyspark

In [7]:
from pyspark.sql.functions import col, lit

The reduce funciton requires two arguments. The first is the function we want to repeat (for example addition, summing up columns), and the second is an iterable that we can to repeat over (df, columns, etc).

https://towardsdatascience.com/reduce-your-worries-using-reduce-with-pyspark-642106d6ae50

This will be over the form `reduce(lambda x, y: x + y, [1,2,3,4,5])

In [8]:
#Simple example
from operator import add
sum = rdd.reduce(add)

In [10]:
# Reduce can be used to find a maximum element too...
max_square = squared_rdd.reduce(lambda x, y : x if x > y else y)
print(max_square)

sum_rdd2 = rdd2.reduce(lambda x, y : x+ y)
print(sum_rdd2)

16
6

In [11]:
spark.stop()